.custom-carousel {
    height: 400px; /* Set your desired height */
    
  }
.movie-list {
    padding: 20px;
    padding-top: 30px;
    display: flex;
    background-color: #141414;
    flex-wrap: wrap;
    justify-content: center;
}
  .movie-details {
      margin-top: -300px !important;
      display: flex;
      /* flex-direction: column; */
      /* Stack children vertically */
      align-items: center !important;
      /* Center horizontally */
      justify-content: center;
      /* Center vertically */
      z-index: 9999;
      width: 100% !important;
      color: #fff;


  }
/* Style each movie card */
.movie-card {
margin: 5px;
cursor: pointer;
    
    /* Add spacing between movie cards */
}
@keyframes scrollBg {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-330px);
    }
  }
  
  .scroll-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    padding-bottom: 330px;
    /* background-color: #E8BA9B; */
/*     
    background-image: url("../images/login-background.png"); */
    background-size: cover;
    background: #4e54c8;  
    /* animation: scrollBg 35s linear forwards; */
  }


  @import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 400px;
    position: absolute;
    /* top:50vh; */
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.container-text{
    color: white;
    margin-top: 90px;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.movie_name{
    color: #fff;
    font-weight: 400;
    margin-top: 30px;
    z-index: 10;
  }
  .minutes{
    display: inline-block;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.13);
  }
  .type{
    display: inline-block;
    color: #cee4fd;
    margin-left: 10px;
  }
 .date{
    color: #9ac7fa;
    font-weight: 400;
  }
  
  .locandina{
    position: relative;
    float: left;
    margin-right: 20px;
    height: 120px;
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
  }
  .movie_desc{
    padding: 25px;
    height: 50%;
    .text{
      color: #cfd6e1;
    }
}

.info_section{
    position: relative;
    width: 100%;
    height:450px;
	background-blend-mode: multiply;
    z-index: 2;
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    
    .movie_header{
      position: relative;
      padding: 25px;
      height: 40%;
      
      h1{
        color: #fff;
        font-weight: 400;
      }
      h4{
        color: #9ac7fa;
        font-weight: 400;
      }
      .minutes{
        display: inline-block;
        margin-top: 10px;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,0.13);
      }
      .type{
        display: inline-block;
        color: #cee4fd;
        margin-left: 10px;
      }
      .locandina{
        position: relative;
        float: left;
        margin-right: 20px;
        height: 120px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    
    .movie_desc{
      padding: 15px;
      height: 50%;
      .text{
        color: #cfd6e1;
      }
    }
    .text{
        margin-top: -10px;
        height: 50%;
        color: #cfd6e1;
      }
    .movie_social{
      height: 10%;
      padding-left: 15px;
      padding-bottom: 20px;
      ul{
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          color: rgba(255,255,255,0.4);
          transition: color 0.3s;
          transition-delay: 0.15s;
          margin: 0 10px;
          &:hover{
            transition: color 0.3s;
            color: rgba(255,255,255,0.8);
          }
          i{
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 11px;
  }


@media screen and (min-width: 768px) {
  .movie_header{
    width: 60%;
  }
  
  .movie_desc{
    width: 50%;
  }
  
  .info_section{
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }
  
  .blur_back{
    width: 80%;
    background-position: -100% 10% !important;  
  }
}

@media screen and (max-width: 768px) {
  .movie_card{
    width: 95%;
    margin: 70px auto; 
    min-height: 350px;
    height: auto;
  }
  
  .blur_back{
    width: 100%;
    background-position: 50% 50% !important;  
  }
  
  .movie_header{
    width: 100%;
    margin-top: 85px;
  }
  
  .movie_desc{
    width: 100%;
  }
  
  .info_section{
    background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
    display: inline-grid;
  }
}


#bright{
  box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
  &:hover{
    box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
  }
}

.bright_back{
  background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
}

#tomb{
  box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6);
  &:hover{
    box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6);
  }
}

.tomb_back{
  background: url("https://fsmedia.imgix.net/cd/c9/5e/ba/4817/4d9a/93f0/c776ec32ecbc/lara-crofts-neck-looks-unnatural-in-the-new-poster-for-tomb-raider.png");
}

#ave{
  box-shadow: 0px 0px 150px -45px rgba(199,147,75, 0.7);
  margin-bottom: 200px;
  &:hover{
    box-shadow: 0px 0px 120px -55px rgba(199,147,75, 0.7);
  }
}

.ave_back{
    background: url("https://www.gannett-cdn.com/-mm-/c03fd140debe8ad4c05cf81a5cad7ad61a12ce52/c=0-1580-2985-3266&r=x803&c=1600x800/local/-/media/2017/06/09/USATODAY/USATODAY/636326272873599176-Black-Panther-Teaser.jpg");
}
.button_movie {
	border-radius: 20px;
	border: 1px solid #1E90FF;
	background-color: #1E90FF;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
    margin-top: 120px;
    position: absolute;
        bottom: 20px;
        /* Adjust this value to control the vertical position */
        right: 20px;
        /* Adjust this value to control the horizontal position */
    margin-right: 50px;
    cursor: pointer !important;
     z-index: 1000 !important;
	letter-spacing: 1px;
    float: right !important;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    :active {
        transform: scale(0.95);
    }
    :focus {
        outline: none;
    }
}
/* Custom CSS for Bootstrap Carousel */
.carousel {
    transition: opacity 0.5s ease-in-out;
    /* Adjust transition duration and easing as needed */
}

.carousel-inner {
    overflow: hidden;
    /* Ensure contents do not overflow */
}

.carousel-item {
    transition: transform 0.5s ease-in-out;
    /* Adjust transition duration and easing as needed */
}

/* Optional: Add perspective for a 3D effect */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    transform: scale(1) translate3d(0, 0, 0);
}

/* Optional: Add box shadow for depth */
.carousel-item.active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    /* Adjust shadow properties as needed */
}

.custom-carousel-item {
    height: 420px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 35%;
    /* Adjust the vertical position as needed */
    transition: transform 0.5s ease;
    /* Add transition for smooth slide animation */
}
/* Arrow 1 */
.arrow.arrow--left,
.arrow.arrow--right {
  cursor: pointer;
  display: block;
  width: 21.21px;
  height: 42.42px;
  position: relative;
}

.arrow.arrow--left span,
.arrow.arrow--left:before,
.arrow.arrow--left:after,
.arrow.arrow--right span,
.arrow.arrow--right:before,
.arrow.arrow--right:after {
  background: #fff;
  content: '';
  display: block;
  width: 21.21px;
  height: 2px;
  position: absolute;
  top: calc(50% - 1px);
}

.arrow.arrow--left:before {
  transform: rotate(-45deg);
}

.arrow.arrow--left:after {
  transform: rotate(45deg);
}

.arrow.arrow--left span {
  width: 0;
}

.arrow.arrow--left:hover span {
  width: 29.85px;
}

.arrow.arrow--left span,
.arrow.arrow--left:before,
.arrow.arrow--left:after,
.arrow.arrow--right span,
.arrow.arrow--right:before,
.arrow.arrow--right:after {
  transition: left 0.3s 0.05s, right 0.3s 0.05s;
}

.arrow.arrow--left span,
.arrow.arrow--left:before,
.arrow.arrow--left:after {
  left: 0;
  transform-origin: left 50%;
}

.arrow.arrow--left:before,
.arrow.arrow--left:after,
.arrow.arrow--right:before,
.arrow.arrow--right:after {
  transition: transform 0.3s 0.05s;
}

.arrow.arrow--right span,
.arrow.arrow--right:before,
.arrow.arrow--right:after {
  right: 0;
  transform-origin: right 50%;
}

.arrow.arrow--left:hover span,
.arrow.arrow--left:hover:before,
.arrow.arrow--left:hover:after,
.arrow.arrow--right:hover span,
.arrow.arrow--right:hover:before,
.arrow.arrow--right:hover:after {
  left: -21.21px;
  right: -21.21px;
  transform: none;
}

/* Arrow 2 */
.arrow.arrow--right,
.arrow.arrow--left {
  color: #fff;
  cursor: pointer;
  display: block;
  align-items: flex-start;
  text-transform: uppercase;
  position: relative;
  transition: transform 0.3s;
}

.arrow.arrow--right span,
.arrow.arrow--left span {
  display: block;
  width: 3em;
  opacity: 0;
  transition: opacity 0.3s 0s;
  padding: 0 0.5em;
}

.arrow.arrow--right:hover span,
.arrow.arrow--left:hover span {
  opacity: 1;
  transition: opacity 0.3s 0.1s;
}

.arrow.arrow--right:before,
.arrow.arrow--left:before {
  content: '';
  display: block;
  border: solid #fff;
  border-width: 2px 2px 0 0;
  position: absolute;
  top: 4px;
  width: 10px;
  height: 10px;
}

.arrow.arrow--left:before {
  transform: rotate(-135deg);
  right: 0;
  transition: right 0.3s 0.2s;
}

.arrow.arrow--left:hover:before {
  right: 100%;
  transition: right 0.3s;
}

.arrow.arrow--right {
  text-align: right;
}

.arrow.arrow--right:before {
  left: 0;
  transform: rotate(45deg);
  transition: left 0.3s 0.2s;
}

.arrow.arrow--right:hover:before {
  left: 100%;
  transition: left 0.3s;
}

.arrow.arrow--right:hover,
.arrow.arrow--left:hover {
  transform: none;
}
.tracking-in-expand{animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both}
@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

.text-focus-in{animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both}
@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}